# U.S. Medical Insurance Costs

## Project Scope
Find out the average age of the patients in the dataset.
Analyze where a majority of the individuals are from.
Look at the different costs between smokers vs. non-smokers.
Figure out what the average age is for someone who has at least one child in this dataset.

The first step is to import the CSV file.

In [17]:
import numpy as np
import pandas as pd

insurance_df = pd.read_csv("./insurance.csv")
print(insurance_df.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Average age of the patients:

In [9]:
insurance_df["age"].describe()

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

### Analyze where a majority of the individuals are from.

In [14]:
insurance_df["region"].max()

'southwest'

### Look at the different costs between smokers vs. non-smokers.

In [34]:
smoker_avg = insurance_df.loc[(insurance_df['smoker'] == 'yes')]['charges'].describe()['mean'].round()

In [100]:
non_smoker_avg = insurance_df.loc[(insurance_df['smoker'] == 'no')]['charges'].describe()['mean'].round()

In [106]:
insurance_df.groupby(['smoker']).mean().round()

         age   bmi  children  charges
smoker
no      39.0  31.0       1.0   8434.0
yes     39.0  31.0       1.0  32050.0

### Average age for someone who has at least one child in this dataset.

In [132]:
df2 = insurance_df.loc[insurance_df['children'] >= 1].describe()
df2['age']['mean'].round(2)

39.78